@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

h2{
  font-family: 'Mochiy Pop P One', sans-serif;  
}
span{
  font-family: 'Mochiy Pop P One', sans-serif;  
}

.container{
  /* border-bottom: 2px solid #000000; */

  /* border-style: solid; */
  display: flex;
  height: 300px;
  width: 220px;
}

.card {
  border-style: solid;
  border: 1px;
  align-self: flex-end;
  width: 240px;
  height: 300px;
  background: orange;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  }

.card:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-50px); }
100% { transform: translateY(0); }
}

.img {
  display:block;
  margin:auto;
  grid-column: x0 / x2;
  grid-row: y1/y2;
  max-width: 200px;
}  