@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.container{
  border-bottom: 2px solid #000000;
  display: flex;
  height: 250px;
  width: 320px;
}

.card {
  border: 2px;
  align-self: flex-end;
  width: 320px;
  height: 250px;
  background: orange;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  }

.card:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-50px); }
100% { transform: translateY(0); }
}

.img {
  display:block;
  margin:auto;
  grid-column: x0 / x2;
  grid-row: y1/y2;
  max-width: 200px;
}  