@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto; 
    grid-gap: 1rem;
    margin-left: 0.5%;
    padding-bottom: 2%; 
    padding-top: 4%;  
}

.sortfilter{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}

.sortfilter select option{
    padding: 3%;
}
/* 
select {
    cursor: pointer;
    box-shadow: none;
    background: orange;
    width: 8%;
    height: 4%;
    font-size: 0.8em;
    padding-top: 1em;
    padding-right: 1.26em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgb(2, 0, 0);
} */


/* Loading  */

.loading{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 95%;
    max-height: 50vh;
    background: #f9fafc;
    padding-top: 5%;
    
}


