 
.a{
    position: absolute; 
    top: 5%;
    left: 6%;
}
.b{
    position: absolute; 
    top: 5%;
    left: 18%;
}
.c{
    position: absolute; 
    top: 5%;
    left: 30%;
}

.d {
    position: absolute;
    top: 25%;
    left: 50%;
}

.e {
    position: absolute;
    top: 15%;
    left: 78%;
}

.f {
    position: absolute;
    top: 15%;
    left: 90%;
}

.g {
    position: absolute;
    top: 20%;
    left: 40%;
}

  .row{
    position: absolute;
    left: 70%;
    top: 3%;
    display: flex;
    justify-content: center;
  }